body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     background-color: rgb(39, 154, 160);
}
h1 {
    font-size: 15rem;
font-family: Montserrat;
}

.letter {
    transform: color 1000ms;
}